---
import Features from "~/components/features.astro";
import Footer from "~/components/footer.astro";
import Intro from "~/components/intro.astro";
import Splash from "~/components/splash.astro";
import "~/styles/index.css";

const { generator, site } = Astro;
---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="generator" content={generator} />
    <meta name="theme-color" content="#22c55e" />

    <title>JOSUE 11 - FC24</title>
    <meta name="description" content="Invitación Josue 11 Años" />

    <!-- initialize theme -->
    <script is:inline>
      const themeSaved = localStorage.getItem("theme");

      if (themeSaved) {
        document.documentElement.dataset.theme = themeSaved;
      } else {
        const prefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)",
        ).matches;
        document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
      }

      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (event) => {
          if (!localStorage.getItem("theme")) {
            document.documentElement.dataset.theme = event.matches
              ? "dark"
              : "light";
          }
        });
    </script>
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <main class="relative h-screen w-full snap-y snap-mandatory overflow-auto">
      <Splash />
      <div
        class="h-screen snap-start flex items-center overflow-hidden bg-cover bg-center px-8 py-32"
        style="background-image: url('/bg_triangles.jpg')"
      >
        <Intro />
      </div>

      <div
       class="h-screen snap-start flex items-center overflow-hidden bg-cover bg-center px-8 py-32"
        style="background-image: url('/fc24-video-bg.webp')"
      >
        <Features />
      </div>

      <div
       class="h-screen snap-start flex items-center overflow-hidden bg-cover bg-center px-8 py-32"
        style="background-image: url('/fc24-haaland-goal-1x1.webp')"
      >

      </div>

      <div
        class="h-screen snap-start flex items-center overflow-hidden bg-cover bg-center px-8 py-32"
        style="background-image: url('/bg_cancha.png')"
      >
        <Footer />
      </div>
    </main>
  </body>
</html>
