---
import HeroImage from "~/components/hero-image.astro";

<footer class="relative flex h-64 items-center justify-center">
  <div class="absolute inset-0 overflow-hidden">
    <HeroImage />
  </div>
  
</footer>
