---
import { Image } from "astro:assets";
import logoFc24_animate from "~/assets/logo_fc24.webp";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="El próximo" id="intro">
  <Fragment slot="lead">
    <span class="text-primary">sábado 2 de diciembre</span> a partir de las
    <span class="text-primary">4:00 p.m</span>
  </Fragment>

  <Image class="mt-2 w-32" src={logoFc24_animate} loading="eager" alt="FC24" />
</ContentSection>
